:root {
  /* ///////////////// Colors Primary ///////////////// */
  --Purple-50: #ede4ff;
  --Purple-300: #a775f1;
  --Purple-500: #733fc8;

  /* /////////////////// Colors Neutral ///////////////// */
  --White: #ffffff;
  --Grey-100: #e7eaee;
  --Grey-200: #cfcfcf;
  --Grey-300: #a3aab4;
  --Grey-400: #676d7e;
  --Grey-500: #48556a;
  --Dark-blue: #19202d;
  --Black: #121212;
 
  /* ////////////////////// Typography /////////////////// */
  --text-1: normal 600 20px/1.2 "Barlow Semi Condensed", sans-serif;
  --text-2: normal 500 13px/1.1 "Barlow Semi Condensed", sans-serif;
  --text-3: normal 500 13px/1.4 "Barlow Semi Condensed", sans-serif;
  --text-4: normal 500 11px/1.1 "Barlow Semi Condensed", sans-serif;
}
/* /////////////////////// GLOBAL //////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Grey-200);
}

.testimonials {
  display: flex;
  flex-direction: column;
  width: 19.0625rem;
  gap: 2rem;
}

.visually-hidden {
  position: absolute; 
  clip: rect(0, 0, 0, 0);  
}

/* ////////////////////// MOVIL FIRST ////////////////////// */

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  filter: drop-shadow(40px 60px 15px rgba(72, 85, 106, 0.2474));
}

.bg-pattern-quotation {
  display: none;
}

.perfil {
  display: flex;
  gap: 1.0625rem;
  align-items: center;
}

.avatar {
  width: 1.75rem;
  border-radius: 50%;
}
.avatar-1,
.avatar-4 {
  border: 0.125rem solid var(--Purple-300);
}

.perfil-nm-ver {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.perfil-1 .name,
.perfil-2 .name,
.perfil-4 .name {
  font: var(--text-2);
  color: var(--White);
}
.perfil-3 .name,
.perfil-5 .name {
  font: var(--text-2);
  color: var(--Grey-500);
}

.perfil .verif {
  font: var(--text-4);
}

.perfil-1 .verif {
  color: var(--Purple-50);
}
.perfil-2 .verif,
.perfil-5 .verif {
  color: var(--Grey-300);
}
.perfil-3 .verif {
  color: var(--Grey-400);
}
.perfil-4 .verif {
  color: var(--White);
}

.testimonial-1 {
  background-color: var(--Purple-500);
}
.testimonial-1 p,
.testimonial-2 p {
  font: var(--text-1);
  color: var(--White);
}

.testimonial-3 p,
.testimonial-5 p {
  font: var(--text-1);
  color: var(--Grey-500);
}
.testimonial-4 p {
  font: var(--text-1);
  color: var(--Grey-200);
}

.testimonial blockquote {
  font: var(--text-3);
}

.testimonial-1 blockquote {
  color: var(--Purple-50);
}
.testimonial-2,
.testimonial-4 blockquote {
  color: var(--Grey-100);
}
.testimonial-3,
.testimonial-5 blockquote {
  color: var(--Grey-400);
}

.testimonial-2 {
  background-color: var(--Grey-500);
}
.testimonial-3,
.testimonial-5 {
  background-color: var(--White);
}
.testimonial-4 {
  background-color: var(--Dark-blue);
}

/* ///////////////////////// FOOTER /////////////////////// */

.attribution {
  font-size: 1rem;
  margin-block-start: 0.3125rem;
}
.attribution a {
  color: var(--Purple-500);
}

/* /////////////////// GRID TABLET 765px //////////////////// */

@media (min-width: 47.8125rem) {
  .testimonials {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
  }

  .bg-pattern-quotation {
    display: block;
    position: absolute;
    width: 6.5rem;
    height: 6.375rem;
    margin-left: 21.5rem;
    margin-top: 0.4375rem;
    z-index: -1;
  }

  .testimonial-1 {
    grid-column: 1/3;
  }
  .testimonial-2,
  .testimonial-3 {
    width: 19.2188rem;
  }

  .testimonial-4,
  .testimonial-5 {
    grid-column: 1/3;
  }
}

/* ///////////////////// GRID DESKTOP 1440px ///////////////////// */

@media (min-width: 90rem) {
  .testimonials {
    display: grid;
  }

  .testimonial-1 {
    grid-column: 1/3;
    width: 33.75rem;
    margin-bottom: -0.5rem;
  }

  .testimonial-2 {
    grid-column: 3/4;
    width: 15.9375rem;
    margin-bottom: -8px;
  }

  .testimonial-5 {
    grid-column: 4/5;
    grid-row: 1/3;
    width: 15.9375rem;
  }

  .testimonial-3 {
    grid-row: 2/3;
    width: 15.9375rem;
  }

  .testimonial-4 {
    grid-column: 2/4;
  }
}
